<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{car.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{car.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/cars/add}" th:text="#{car.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${cars.empty}" th:text="#{car.list.empty}" />
            <div th:if="${!cars.empty}" class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{car.id.label}" scope="col" />
                            <th th:text="#{car.model.label}" scope="col" />
                            <th th:text="#{car.color.label}" scope="col" />
                            <th th:text="#{car.regNumber.label}" scope="col" />
                            <th th:text="#{car.keysNumber.label}" scope="col" />
                            <th th:text="#{car.sales.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="car : ${cars}">
                            <td th:text="${car.id}" />
                            <td th:text="${car.model}" />
                            <td th:text="${car.color}" />
                            <td th:text="${car.regNumber}" />
                            <td th:text="${car.keysNumber}" />
                            <td th:text="${car.sales}" />
                            <td>
                                <form th:action="@{/cars/delete/{id}(id=${car.id})}" th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm float-end">
                                    <a th:href="@{/cars/edit/{id}(id=${car.id})}" th:text="#{car.list.edit}" class="btn btn-sm btn-info" />
                                    <button th:text="#{car.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
